openapi: 3.1.0
info:
  title: Check API
  version: '2023-04-04'
servers:
  - url: https://sandbox.checkhq.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
      x-default: YOUR_API_KEY
security:
  - sec0: []
paths:
  /companies:
    post:
      summary: Create a company
      description: Creates a company to run payroll for.
      operationId: create-company
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                legal_name:
                  type: string
                  description: Legal name of the company
                trade_name:
                  type: string
                  description: Trade name of the company
                other_business_name:
                  type: string
                  description: Other business name used by the company.
                business_type:
                  type: string
                  description: >-
                    Business type of the company. One of `sole_proprietorship`,
                    `partnership`, `c_corporation`, `s_corporation`, or `llc`.
                industry_type:
                  type: string
                  description: >-
                    Industry type of the company. One of
                    `auto_or_machine_sales`, `auto_or_machine_repair`,
                    `arts_or_entertainment_or_recreation`, `cleaning_services`,
                    `consulting_services`, `educational_services`,
                    `family_care_services`, `financial_services`,
                    `food_and_beverage_retail_or_wholesale`,
                    `general_construction_or_general_contracting`,
                    `health_care`, `hospitality_or_accommodation`,
                    `hvac_or_plumbing_or_electrical_contracting`,
                    `legal_services`, `non_food_retail_or_wholesale`, `other`,
                    `personal_care_services`, `real_estate`, `restaurant`,
                    `scientific_or_technical_services`, `security_services`,
                    `staffing`, `tobacco_or_alcohol_sales`, or `transportation`.
                website:
                  type: string
                  description: Website URL of the company.
                email:
                  type: string
                  description: Email address of payroll department or administrator
                phone:
                  type: string
                  description: Phone number of the company
                address:
                  type: object
                  description: Legal address of company on file with the federal government
                  required:
                    - line1
                    - city
                    - state
                    - postal_code
                  properties:
                    line1:
                      type: string
                      description: Street address or PO Box
                    line2:
                      type: string
                      description: Apartment, suite, unit, or building
                    city:
                      type: string
                      description: City, district, suburb, town, or village
                    state:
                      type: string
                      description: 2-digit state code
                    postal_code:
                      type: string
                      description: 5-digit postal code or zip code
                    country:
                      type: string
                      description: Read only.
                      default: US
                pay_frequency:
                  type: string
                  description: >-
                    Frequency by which the employees get paid. One of "weekly",
                    "biweekly", "semimonthly", "monthly", "quarterly", or
                    "annually"
                start_date:
                  type: string
                  description: >-
                    This date should match up with their first payday using
                    Check. The validity of this date is important, as it's used
                    on federal and state filing authorization forms to signify
                    when Check's authorization to file on behalf of the employer
                    starts.
                  format: date
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the company
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
    get:
      summary: List companies
      description: Returns a list of all companies.
      operationId: list-companies
      parameters:
        - name: active
          in: query
          description: Filter companies by whether they are active or not active.
          schema:
            type: boolean
            default: true
        - name: limit
          in: query
          description: Number of companies returned per page
          schema:
            type: integer
            format: int32
        - name: id
          in: query
          description: >-
            Filter the list to the specified IDs. For more details, check out
            the [Bulk Get Requests
            guide](https://docs.checkhq.com/docs/bulk-resource-get-requests).
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /companies/{company}:
    get:
      summary: Get a company
      description: Returns the specified company.
      operationId: get-a-company
      parameters:
        - name: company
          in: path
          description: ID of the company to return
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    patch:
      summary: Update a company
      description: Updates the specified company.
      operationId: update-a-company
      parameters:
        - name: company
          in: path
          description: ID of the company to update
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                legal_name:
                  type: string
                  description: Legal name of the company
                trade_name:
                  type: string
                  description: Trade name of the company
                other_business_name:
                  type: string
                  description: Other business name used by the company.
                business_type:
                  type: string
                  description: >-
                    Business type of the company. One of `sole_proprietorship`,
                    `partnership`, `c_corporation`, `s_corporation`, or `llc`.
                industry_type:
                  type: string
                  description: >-
                    Industry type of the company. One of
                    `auto_or_machine_sales`, `auto_or_machine_repair`,
                    `arts_or_entertainment_or_recreation`, `cleaning_services`,
                    `consulting_services`, `educational_services`,
                    `family_care_services`, `financial_services`,
                    `food_and_beverage_retail_or_wholesale`,
                    `general_construction_or_general_contracting`,
                    `health_care`, `hospitality_or_accommodation`,
                    `hvac_or_plumbing_or_electrical_contracting`,
                    `legal_services`, `non_food_retail_or_wholesale`, `other`,
                    `personal_care_services`, `real_estate`, `restaurant`,
                    `scientific_or_technical_services`, `security_services`,
                    `tobacco_or_alcohol_sales`, or `transportation`.
                website:
                  type: string
                  description: Website URL of the company.
                email:
                  type: string
                  description: Email address of payroll department or payroll administrator
                phone:
                  type: string
                  description: Phone number for the company
                address:
                  type: object
                  description: Legal address of company on file with the federal government
                  required:
                    - line1
                    - city
                    - state
                    - postal_code
                  properties:
                    line1:
                      type: string
                      description: Street address or PO Box
                    line2:
                      type: string
                      description: Apartment, suite, unit, or building
                    city:
                      type: string
                      description: City, district, suburb, town, or village
                    state:
                      type: string
                      description: 2-digit state code
                    postal_code:
                      type: string
                      description: 5-digit postal code or zip code
                    country:
                      type: string
                      description: Read only.
                      default: US
                principal_place_of_business:
                  type: string
                  description: >-
                    Company's workplace ID whose address would be printed on
                    paystub, instead of legal address.
                pay_frequency:
                  type: string
                  description: >-
                    Frequency by which the employees get paid. One of "weekly",
                    "biweekly", "semimonthly", "monthly", "quarterly", or
                    "annually"
                processing_period:
                  type: string
                  description: >-
                    The default processing period of payrolls. <br><br>One of
                    `four_day`, `two_day`, or `one_day`.<br><br>The processing
                    period determines the approval deadline of the payroll. For
                    a payroll with a Friday payday, `four_day` will mean the
                    approval deadline is on Monday, whereas `two_day` will mean
                    the approval deadline is on Wednesday.<br><br>The possible
                    values for this field are constrained by the processing
                    periods the company is approved for.
                start_date:
                  type: string
                  description: >-
                    Date the company will start using Check as their payroll
                    processor
                  format: date
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the company
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /employees:
    post:
      summary: Create an employee
      description: Creates an employee.
      operationId: create-an-employee
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - last_name
                - company
                - workplaces
              properties:
                first_name:
                  type: string
                  description: Employee's first name
                middle_name:
                  type: string
                  description: Employee's middle name, if available
                last_name:
                  type: string
                  description: Employee's last name
                email:
                  type: string
                  description: Employee's email address
                dob:
                  type: string
                  description: >-
                    Employee's date of birth. Until dob is added, it will show
                    up as a blocking employee onboard step.
                  format: date
                residence:
                  type: object
                  description: >-
                    Employee residence used for calculating state income taxes.
                    Until residence is added, it will show up as a blocking
                    employee onboard step. You may not unset residence once it
                    is set.
                  required:
                    - line1
                    - city
                    - state
                    - postal_code
                  properties:
                    line1:
                      type: string
                      description: Street address or PO Box
                    line2:
                      type: string
                      description: Apartment, suite, unit, or building
                    city:
                      type: string
                      description: City, district, suburb, town, or village
                    state:
                      type: string
                      description: 2-digit state code
                    postal_code:
                      type: string
                      description: 5-digit postal code or zip code
                    country:
                      type: string
                      description: Read only.
                      default: US
                company:
                  type: string
                  description: ID of employee's company
                start_date:
                  type: string
                  description: >-
                    Most recent start date of employment. Until start date is
                    added, it will show up as a blocking employee onboard step.
                  format: date
                termination_date:
                  type: string
                  description: >-
                    Most recent date of employment termination. Will be set to
                    null if a more recent start date is set.
                  format: date
                default_net_pay_split:
                  type: string
                  description: ID of employee's net pay split
                workplaces:
                  type: array
                  description: >-
                    IDs of workplaces where the employee works. Optionally, an
                    empty list can be passed in and workplaces can be added
                    after employee creation. Until the workplaces are added,
                    this will show up as a blocking step in the onboarding
                    status.
                  items:
                    type: string
                primary_workplace:
                  type: string
                  description: The Workplace ID of the employee's primary workplace.
                ssn:
                  type: string
                  description: >-
                    Employee's TIN (usually their Social Security Number). Must
                    be unique across all employees in a company. Only the last
                    four digits of an SSN will be made available in
                    `ssn_last_four` after being set.
                payment_method_preference:
                  type: string
                  description: Either "direct_deposit" or "manual", default null
                active:
                  type: boolean
                  description: >-
                    Indicates whether the employee is currently employed. Used
                    only for filtering.
                  default: true
                w2_electronic_consent_provided:
                  type: boolean
                  description: >-
                    Indicates whether the employee has opted into electronic
                    delivery of W2 PDF.
                  default: false
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the employee
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "id": "emp_zGGp6wYcxAeu1Ng8IA7v",
                        "first_name": "Tony",
                        "last_name": "Stark",
                        "middle_name": null,
                        "email": "tony@starkindustries.com",
                        "dob": "1970-05-29",
                        "bank_accounts": [],
                        "ssn_last_four": null,
                        "payment_method_preference": null,
                        "active": true,
                        "onboard": {
                            "status": "blocking",
                            "blocking_steps": [
                                "ssn"
                            ],
                            "remaining_steps": [
                                "ssn",
                                "payment_method"
                                "withholdings",
                            ],
                            "ssn": [
                                "ssn_submitted",
                            ],
                            "payment_method": [
                                "payment_method_preference_set",
                                "bank_account_exists",
                                "bank_account_verified",
                            ],
                            "withholdings": [
                                {
                                    "id": "jur_kSO0VneVfdx5TDDQ9Xnp",
                                    "name": "Federal",  
                                },
                                {
                                    "id": "jur_CUlTApePRnDFn9bPVCQE",
                                    "name": "New York",  
                                },  
                            ],
                        },
                        "workplaces": [
                            "wrk_i8nfu8234r8dkjhzlsdv"
                        ],
                        "company": "com_sx3svU6K8c5ZkSFlOh5p",
                        "start_date": "2019-03-01",
                        "termination_date": null,
                        "residence": {
                            "line1": "630 Bedford Road",
                            "line2": null,
                            "city": "Tarrytown",
                            "state": "NY",
                            "postal_code": "10591",
                            "country": "US"
                        },
                        "w2_electronic_consent_provided": false,
                        "metadata": {}
                    }
      deprecated: false
    get:
      summary: List employees
      description: >-
        Returns a list of all employees. Employees will be returned from the
        list endpoint in alphabetical order, sorted by last name, first name.
      operationId: list-employees
      parameters:
        - name: company
          in: query
          description: Return employees for this company ID.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of employees returned per page
          schema:
            type: integer
            format: int32
        - name: workplace
          in: query
          description: >-
            Return employees who work at these workplaces (can be
            comma-separated list of workplace IDs)
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n\t{\n    \"id\": \"emp_zGGp6wYcxAeu1Ng8IA7v\",\n    \"first_name\": \"Tony\",\n    \"last_name\": \"Stark\",\n    \"middle_name\": null,\n    \"email\": \"tony@starkindustries.com\",\n    \"dob\": \"1970-05-29\",\n    \"bank_accounts\": [],\n    \"ssn_last_four\": null,\n    \"payment_method_preference\": null,\n    \"active\": true,\n    \"onboard\": {\n        \"status\": \"blocking\",\n        \"blocking_steps\": [\n            \"ssn\"\n        ],\n        \"remaining_steps\": [\n            \"ssn\",\n            \"payment_method\"\n            \"withholdings\",\n        ],\n        \"ssn\": [\n            \"ssn_submitted\",\n        ],\n        \"payment_method\": [\n            \"payment_method_preference_set\",\n            \"bank_account_exists\",\n            \"bank_account_verified\",\n        ],\n        \"withholdings\": [\n            {\n                \"id\": \"jur_kSO0VneVfdx5TDDQ9Xnp\",\n                \"name\": \"Federal\",  \n            },\n            {\n                \"id\": \"jur_CUlTApePRnDFn9bPVCQE\",\n                \"name\": \"New York\",  \n            },  \n        ],\n    },\n    \"workplaces\": [\n        \"wrk_i8nfu8234r8dkjhzlsdv\"\n    ],\n    \"company\": \"com_sx3svU6K8c5ZkSFlOh5p\",\n    \"start_date\": \"2019-03-01\",\n    \"default_net_pay_split\": \"nps_lk218jk9082mjkjljT1c\",\n    \"residence\": {\n        \"line1\": \"630 Bedford Road\",\n        \"line2\": null,\n        \"city\": \"Tarrytown\",\n        \"state\": \"NY\",\n        \"postal_code\": \"10591\",\n        \"country\": \"US\"\n    },\n    \"w2_electronic_consent_provided\": false,\n    \"metadata\": {}\n\t}\n]"
      deprecated: false
  /employees/{employee}:
    get:
      summary: Get an employee
      description: Returns the specified employee.
      operationId: get-an-employee
      parameters:
        - name: employee
          in: path
          description: ID of the employee to return
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "id": "emp_zGGp6wYcxAeu1Ng8IA7v",
                        "first_name": "Tony",
                        "last_name": "Stark",
                        "middle_name": null,
                        "email": "tony@starkindustries.com",
                        "dob": "1970-05-29",
                        "bank_accounts": [],
                        "ssn_last_four": null,
                        "payment_method_preference": null,
                        "active": true,
                        "onboard": {
                            "status": "blocking",
                            "blocking_steps": [
                                "ssn"
                            ],
                            "remaining_steps": [
                                "ssn",
                                "payment_method"
                                "withholdings",
                            ],
                            "ssn": [
                                "ssn_submitted",
                            ],
                            "payment_method": [
                                "payment_method_preference_set",
                                "bank_account_exists",
                                "bank_account_verified",
                            ],
                            "withholdings": [
                                {
                                    "id": "jur_kSO0VneVfdx5TDDQ9Xnp",
                                    "name": "Federal",  
                                },
                                {
                                    "id": "jur_CUlTApePRnDFn9bPVCQE",
                                    "name": "New York",  
                                },  
                            ],
                        },
                        "workplaces": [
                            "wrk_i8nfu8234r8dkjhzlsdv"
                        ],
                        "company": "com_sx3svU6K8c5ZkSFlOh5p",
                        "start_date": "2019-03-01",
                        "default_net_pay_split": "nps_lk218jk9082mjkjljT1c",
                        "residence": {
                            "line1": "630 Bedford Road",
                            "line2": null,
                            "city": "Tarrytown",
                            "state": "NY",
                            "postal_code": "10591",
                            "country": "US"
                        },
                        "w2_electronic_consent_provided": false,
                        "metadata": {}
                    }
      deprecated: false
    patch:
      summary: Update an employee
      description: Updates the specified employee.
      operationId: update-an-employee
      parameters:
        - name: employee
          in: path
          description: ID of the employee to update
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: Employee’s first name
                middle_name:
                  type: string
                  description: Employee’s middle name
                last_name:
                  type: string
                  description: Employee’s last name
                email:
                  type: string
                  description: Employee’s email address
                dob:
                  type: string
                  description: Employee’s date of birth
                  format: date
                residence:
                  type: object
                  description: Employee residence used for calculating state income taxes
                  required:
                    - line1
                    - city
                    - state
                    - postal_code
                  properties:
                    line1:
                      type: string
                      description: Street address or PO Box
                    line2:
                      type: string
                      description: Apartment, suite, unit, or building
                    city:
                      type: string
                      description: City, district, suburb, town, or village
                    state:
                      type: string
                      description: 2-digit state code
                    postal_code:
                      type: string
                      description: 5-digit postal code or zip code
                    country:
                      type: string
                      description: Read only.
                      default: US
                start_date:
                  type: string
                  description: Most recent start date of employment
                  format: date
                termination_date:
                  type: string
                  description: >-
                    Most recent date of employment termination. Will be set to
                    null if a more recent start date is set.
                  format: date
                default_net_pay_split:
                  type: string
                  description: ID of the employee's net pay split
                workplaces:
                  type: array
                  description: IDs of workplaces where the employee works
                  items:
                    type: string
                primary_workplace:
                  type: string
                  description: The Workplace ID of the employee's primary workplace.
                ssn:
                  type: string
                  description: >-
                    Employee's TIN (usually their Social Security Number). Must
                    be unique across all employees in a company. Only the last
                    four digits of an SSN will be made available in
                    `ssn_last_four` after being set.
                payment_method_preference:
                  type: string
                  description: Either "direct_deposit" or "manual"
                active:
                  type: boolean
                  description: >-
                    Indicates whether the employee is currently employed. Used
                    only for filtering.
                w2_electronic_consent_provided:
                  type: boolean
                  description: >-
                    Indicates whether the employee has opted into electronic
                    delivery of W2 PDF.
                  default: false
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the employee
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
  /benefits:
    post:
      summary: Create a benefit
      description: Creates a benefit.
      operationId: create-an-employee-benefit
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - employee
                - benefit
              properties:
                employee:
                  type: string
                  description: ID of the employee associated with the benefit.
                benefit:
                  type: string
                  description: >-
                    Type of supported benefit. See [types of
                    benefits](https://docs.checkhq.com/reference/types-of-benefits).
                company_benefit:
                  type: string
                  description: The company benefit to associate this employee benefit with.
                period:
                  type: string
                  description: >-
                    The period over which a period amount is distributed. Can be
                    "monthly" or null.
                description:
                  type: string
                  description: >-
                    Optional description to distinguish the benefit within a
                    plan. Maximum length of 255 characters.
                company_contribution_amount:
                  type: string
                  description: Amount for company to contribute per payroll
                company_contribution_percent:
                  type: number
                  description: >-
                    Decimal percentage of gross pay for company to contribute
                    per payroll from 0 to 100.
                  format: float
                company_period_amount:
                  type: string
                  description: Amount for company to contribute over period.
                employee_contribution_amount:
                  type: string
                  description: Amount for employee to contribute per payroll
                employee_contribution_percent:
                  type: number
                  description: >-
                    Decimal percentage of gross pay for company to contribute
                    per payroll from 0 to 100.
                  format: float
                employee_period_amount:
                  type: string
                  description: Amount for employee to contribute over period.
                effective_start:
                  type: string
                  description: Start date for the benefit
                  format: date
                effective_end:
                  type: string
                  description: End date for the benefit
                  format: date
                hsa_contribution_limit:
                  type: string
                  description: Contribution limit of a HSA benefit
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    this employee benefit
                  format: json
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: ''
      deprecated: false
    get:
      summary: List benefits
      description: Returns a list of benefits.
      operationId: list-benefits
      parameters:
        - name: employee
          in: query
          description: Return benefits for this employee ID.
          schema:
            type: string
        - name: company
          in: query
          description: Return benefits for all employees of this company ID.
          schema:
            type: string
        - name: limit
          in: query
          description: Number of benefits returned per page
          schema:
            type: integer
            format: int32
        - name: include_external
          in: query
          description: >-
            Flag to indicate if to additionally expose external benefits in the
            list response. Defaults to false if not included.
          schema:
            type: boolean
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": \"ben_lrcYUhTk1FVZl2vSCOBP\",\n    \"employee\": \"emp_kKTK4VafMNc5pIbI0G9x\",\n    \"benefit\": \"401k\",\n    \"company_benefit\": null,\n    \"source\": null,\n   \t\"period\": null,\n    \"description\": \"Guideline 401(k)\",\n    \"effective_start\": \"2020-01-01\",\n    \"effective_end\": null,\n    \"company_contribution_amount\": null,\n    \"company_contribution_percent\": 1.0,\n    \"company_period_amount\": null,\n    \"employee_contribution_amount\": null,\n    \"employee_contribution_percent\": 1.0,\n    \"employee_period_amount\": null,\n    \"hsa_contribution_limit\": null,\n    \"metadata\": {}\n\t}\n]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: ben_lrcYUhTk1FVZl2vSCOBP
                    employee:
                      type: string
                      example: emp_kKTK4VafMNc5pIbI0G9x
                    benefit:
                      type: string
                      example: 401k
                    company_benefit: {}
                    source: {}
                    period: {}
                    description:
                      type: string
                      example: Guideline 401(k)
                    effective_start:
                      type: string
                      example: '2020-01-01'
                    effective_end: {}
                    company_contribution_amount: {}
                    company_contribution_percent:
                      type: integer
                      example: 1
                      default: 0
                    company_period_amount: {}
                    employee_contribution_amount: {}
                    employee_contribution_percent:
                      type: integer
                      example: 1
                      default: 0
                    employee_period_amount: {}
                    hsa_contribution_limit: {}
                    metadata:
                      type: object
                      properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /benefits/{benefit}:
    get:
      summary: Get a benefit
      description: Returns the specified benefit.
      operationId: get-an-employee-benefit
      parameters:
        - name: benefit
          in: path
          description: ID of the benefit to return.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "ben_lrcYUhTk1FVZl2vSCOBP",
                      "employee": "emp_kKTK4VafMNc5pIbI0G9x",
                      "benefit": "401k",
                      "company_benefit": null,
                      "source": null,
                      "period": null,
                      "description": "Guideline 401(k)",
                      "effective_start": "2020-01-01",
                      "effective_end": null,
                      "company_contribution_amount": null,
                      "company_contribution_percent": 1.0,
                      "company_period_amount": null,
                      "employee_contribution_amount": null,
                      "employee_contribution_percent": 1.0,
                      "employee_period_amount": null,
                      "hsa_contribution_limit": null,
                      "metadata": {}
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: ben_lrcYUhTk1FVZl2vSCOBP
                  employee:
                    type: string
                    example: emp_kKTK4VafMNc5pIbI0G9x
                  benefit:
                    type: string
                    example: 401k
                  company_benefit: {}
                  source: {}
                  period: {}
                  description:
                    type: string
                    example: Guideline 401(k)
                  effective_start:
                    type: string
                    example: '2020-01-01'
                  effective_end: {}
                  company_contribution_amount: {}
                  company_contribution_percent:
                    type: integer
                    example: 1
                    default: 0
                  company_period_amount: {}
                  employee_contribution_amount: {}
                  employee_contribution_percent:
                    type: integer
                    example: 1
                    default: 0
                  employee_period_amount: {}
                  hsa_contribution_limit: {}
                  metadata:
                    type: object
                    properties: {}
      deprecated: false
    patch:
      summary: Update a benefit
      description: Updates the specified benefit.
      operationId: update-an-employee-benefit
      parameters:
        - name: benefit
          in: path
          description: ID of the benefit to update
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                employee:
                  type: string
                  description: Update the benefit for this employee
                benefit:
                  type: string
                  description: >-
                    Type of supported benefit. See [types of
                    benefits](https://docs.checkhq.com/reference#types-of-benefits).
                company_benefit:
                  type: string
                  description: The company benefit to associate this employee benefit with.
                period:
                  type: string
                  description: >-
                    The period over which a period amount is distributed. Can be
                    "monthly" or null.
                description:
                  type: string
                  description: >-
                    Optional description to distinguish the benefit within the
                    plan. Maximum length of 255 characters.
                company_contribution_amount:
                  type: string
                  description: Amount for company to contribute per payroll
                company_contribution_percent:
                  type: number
                  description: >-
                    Decimal percentage of gross pay for company to contribute
                    per payroll from 0 to 100.
                  format: float
                company_period_amount:
                  type: string
                  description: Amount for company to contribute over period.
                employee_contribution_amount:
                  type: string
                  description: Amount for employee to contribute per payroll
                employee_contribution_percent:
                  type: number
                  description: >-
                    Decimal percentage of gross pay for company to contribute
                    per payroll from 0 to 100.
                  format: float
                employee_period_amount:
                  type: string
                  description: Amount for employee to contribute over period.
                effective_start:
                  type: string
                  description: Start date for the benefit
                  format: date
                effective_end:
                  type: string
                  description: End date for the benefit
                  format: date
                hsa_contribution_limit:
                  type: string
                  description: Contribution limit of a HSA benefit
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    this employee benefit
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete a benefit
      description: Deletes the specified benefit.
      operationId: delete-an-employee-benefit
      parameters:
        - name: benefit
          in: path
          description: ID of the benefit to delete
          schema:
            type: string
          required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /payrolls/{payroll}:
    get:
      summary: Get a payroll
      description: Returns the specified payroll.
      operationId: get-payroll
      parameters:
        - name: payroll
          in: path
          description: ID of the payroll to return.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "pay_Z26PNMC7Ky1wfFQzVqfF",
                      "company": "com_sx3svU6K8c5ZkSFlOh5p",
                      "period_start": "2019-06-16",
                      "period_end": "2019-06-29",
                      "approval_deadline": "2019-07-02T00:00:00.000000Z",
                      "approved_at": "2019-06-29T18:26:56.848920Z",
                      "payday": "2019-07-05",
                      "status": "paid",
                      "type": "regular",
                      "pay_frequency": "biweekly",
                      "funding_payment_method": "ach",
                      "processing_period": "four_day",
                      "off_cycle_options": null,
                      "managed": true,
                      "totals": {
                        "employee_gross": "961.54",
                        "employee_reimbursements": "0.00",
                        "employee_taxes": "249.23",
                        "employee_benefits": "0.00",
                        "post_tax_deductions": "0.00",
                        "employee_net": "712.31",
                        "contractor_gross": "100.00",
                        "contractor_reimbursements": "15.00",
                        "contractor_net": "115.00",
                        "company_taxes": "73.56",
                        "company_benefits": "0.00",
                        "liability": "1150.10",
                        "cash_requirement": "1150.10"
                      },
                      "items": [
                        {
                          "id": "itm_yvmmsVGFxLoBaMIkqzea",
                          "payroll": "pay_Z26PNMC7Ky1wfFQzVqfF",
                          "employee": "emp_zGGp6wYcxAeu1Ng8IA7v",
                          "payment_method": "direct_deposit",
                          "net_pay": "712.31",
                          "earnings": [
                            {
                              "amount": "961.54",
                              "hours": 40.0,
                              "type": "regular",
                              "workplace": "wrk_cxcG4vjGKcSXZk1fgKai",
                              "code": null,
                              "description": null
                            }
                          ],
                          "reimbursements": [],
                          "taxes": [
                            {
                              "tax": "tax_I1Z9zqbBGWIbvlZpN2Vq",
                              "description": "New York SDI",
                              "amount": "0.60",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_ImvSF9CTuMdokf0uwx5x",
                              "description": "Employer FICA Tax",
                              "amount": "59.62",
                              "payer": "company"
                            },
                            {
                              "tax": "tax_yjNkKk061BTipYv7G4Ti",
                              "description": "New York City Tax",
                              "amount": "31.04",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_S1krAkh75RzdWu5J53HA",
                              "description": "New York State Tax",
                              "amount": "44.20",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_UJrIQbtVErbdez0bYTVN",
                              "description": "New York Family Leave Benefits",
                              "amount": "1.47",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_1XHqR9Qf5t18SD2sfYEe",
                              "description": "Medicare",
                              "amount": "13.94",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_8L3JLfsH4X6dp0maBWfW",
                              "description": "Federal Income Tax",
                              "amount": "98.36",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_ibU8cGhC5OlpOjoQFIXV",
                              "description": "FICA",
                              "amount": "59.62",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_O3f21hkS1cvHBZTa61BO",
                              "description": "Employer Medicare Tax",
                              "amount": "13.94",
                              "payer": "company"
                            }
                          ],
                          "benefits": [],
                          "benefit_overrides": [],
                          "post_tax_deductions": [],
                          "post_tax_deduction_overrides": [],
                          "warnings": []
                        }
                      ],
                      "contractor_payments": [
                        {
                          "contractor": "ctr_90QzaH9xPRI7JRLXnRoU",
                          "payment_method": "manual",
                          "amount": "100.00",
                          "reimbursement_amount": "15.00"
                        }
                      ],
                      "is_void": false,
                      "metadata": {}
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: pay_Z26PNMC7Ky1wfFQzVqfF
                  company:
                    type: string
                    example: com_sx3svU6K8c5ZkSFlOh5p
                  period_start:
                    type: string
                    example: '2019-06-16'
                  period_end:
                    type: string
                    example: '2019-06-29'
                  approval_deadline:
                    type: string
                    example: '2019-07-02T00:00:00.000000Z'
                  approved_at:
                    type: string
                    example: '2019-06-29T18:26:56.848920Z'
                  payday:
                    type: string
                    example: '2019-07-05'
                  status:
                    type: string
                    example: paid
                  type:
                    type: string
                    example: regular
                  pay_frequency:
                    type: string
                    example: biweekly
                  funding_payment_method:
                    type: string
                    example: ach
                  processing_period:
                    type: string
                    example: four_day
                  off_cycle_options: {}
                  managed:
                    type: boolean
                    example: true
                    default: true
                  totals:
                    type: object
                    properties:
                      employee_gross:
                        type: string
                        example: '961.54'
                      employee_reimbursements:
                        type: string
                        example: '0.00'
                      employee_taxes:
                        type: string
                        example: '249.23'
                      employee_benefits:
                        type: string
                        example: '0.00'
                      post_tax_deductions:
                        type: string
                        example: '0.00'
                      employee_net:
                        type: string
                        example: '712.31'
                      contractor_gross:
                        type: string
                        example: '100.00'
                      contractor_reimbursements:
                        type: string
                        example: '15.00'
                      contractor_net:
                        type: string
                        example: '115.00'
                      company_taxes:
                        type: string
                        example: '73.56'
                      company_benefits:
                        type: string
                        example: '0.00'
                      liability:
                        type: string
                        example: '1150.10'
                      cash_requirement:
                        type: string
                        example: '1150.10'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: itm_yvmmsVGFxLoBaMIkqzea
                        payroll:
                          type: string
                          example: pay_Z26PNMC7Ky1wfFQzVqfF
                        employee:
                          type: string
                          example: emp_zGGp6wYcxAeu1Ng8IA7v
                        payment_method:
                          type: string
                          example: direct_deposit
                        net_pay:
                          type: string
                          example: '712.31'
                        earnings:
                          type: array
                          items:
                            type: object
                            properties:
                              amount:
                                type: string
                                example: '961.54'
                              hours:
                                type: integer
                                example: 40
                                default: 0
                              type:
                                type: string
                                example: regular
                              workplace:
                                type: string
                                example: wrk_cxcG4vjGKcSXZk1fgKai
                              code: {}
                              description: {}
                        reimbursements:
                          type: array
                        taxes:
                          type: array
                          items:
                            type: object
                            properties:
                              tax:
                                type: string
                                example: tax_I1Z9zqbBGWIbvlZpN2Vq
                              description:
                                type: string
                                example: New York SDI
                              amount:
                                type: string
                                example: '0.60'
                              payer:
                                type: string
                                example: employee
                        benefits:
                          type: array
                        benefit_overrides:
                          type: array
                        post_tax_deductions:
                          type: array
                        post_tax_deduction_overrides:
                          type: array
                        warnings:
                          type: array
                  contractor_payments:
                    type: array
                    items:
                      type: object
                      properties:
                        contractor:
                          type: string
                          example: ctr_90QzaH9xPRI7JRLXnRoU
                        payment_method:
                          type: string
                          example: manual
                        amount:
                          type: string
                          example: '100.00'
                        reimbursement_amount:
                          type: string
                          example: '15.00'
                  is_void:
                    type: boolean
                    example: false
                    default: true
                  metadata:
                    type: object
                    properties: {}
      deprecated: false
    patch:
      summary: Update a payroll
      description: Updates the specified payroll.
      operationId: update-payroll
      parameters:
        - name: payroll
          in: path
          description: ID of the payroll to update.
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                period_start:
                  type: string
                  description: The start of the date range that the payroll covers.
                  format: date
                period_end:
                  type: string
                  description: The end of the date range that the payroll covers.
                  format: date
                payday:
                  type: string
                  description: The date on which employees will be paid for the payroll.
                  format: date
                processing_period:
                  type: string
                  description: >-
                    The processing period of the payroll. <br><br>One of
                    `four_day`, `two_day`, or `one_day`.<br><br>The processing
                    period determines the approval deadline of the payroll. For
                    a payroll with a Friday payday, `four_day` will mean the
                    approval deadline is on Monday, whereas `two_day` will mean
                    the approval deadline is on Wednesday.<br><br>The possible
                    values for this field are constrained by the processing
                    periods the company is approved for.<br><br>Default:
                    `processing_period` of the company
                type:
                  type: string
                  description: >-
                    Indicates whether the payroll is a regular,
                    [off-cycle](doc:off-cycle-payroll), or amendment
                    payroll.<br><br>One of `regular`, `off_cycle`, or
                    `amendment`.
                pay_frequency:
                  type: string
                  description: >-
                    Frequency by which [employees](ref:the-employee-object) get
                    paid.<br><br>One of `weekly`, `biweekly`, `semimonthly`,
                    `monthly`, `quarterly`, or `annually`.
                funding_payment_method:
                  type: string
                  description: >-
                    Payment method for funding the payroll. <br><br>One of `ach`
                    or `wire`.
                pay_schedule:
                  type: string
                  description: >-
                    ID of the [pay schedule](ref:the-pay-schedule-object) that
                    the payroll relates to.
                off_cycle_options:
                  type: object
                  description: >-
                    Additional configuration options controlling `off_cycle`
                    payroll behavior.
                  properties:
                    force_supplemental_withholding:
                      type: boolean
                      description: Whether to tax all earnings as supplemental earnings.
                    apply_benefits:
                      type: boolean
                      description: >-
                        Whether to apply [benefit deductions and
                        contributions](ref:the-employee-benefit-object) to the
                        payroll.
                    apply_post_tax_deductions:
                      type: boolean
                      description: >-
                        Whether to apply [post-tax
                        deductions](ref:the-post-tax-deduction-object) to the
                        payroll.
                items:
                  type: array
                  description: >-
                    The set of [payroll items](ref:the-payroll-item-object)
                    associated with the payroll.
                  items:
                    properties:
                      employee:
                        type: string
                      payment_method:
                        type: string
                      earnings:
                        type: array
                        items:
                          properties:
                            type:
                              type: string
                              description: >-
                                Type of earning. Can be one of the following
                                earning types in <a
                                href="https://docs.checkhq.com/reference/types-of-earnings">Types
                                of earnings</a>
                            workplace:
                              type: string
                              description: >-
                                ID of the workplace where work for this earning
                                was performed
                            earning_code:
                              type: string
                              description: >-
                                The earning code id which will be used to
                                aggregate earnings on the paystub
                            description:
                              type: string
                              description: >-
                                Readable description of the earning code that
                                will show up on the paystub
                            earning_rate:
                              type: string
                              description: >-
                                The earning rate id which will be used to
                                calculate the gross wage. Required if type is
                                “piece”
                            amount:
                              type: string
                              description: >-
                                Amount earned for this earning<br><br>Must be
                                greater than 0
                            hours:
                              type: number
                              description: Number of hours worked for this earning
                              format: float
                            piece_units:
                              type: number
                              description: >-
                                Number of units of work produced. Required if
                                type is “piece”
                              format: float
                            metadata:
                              type: string
                              description: >-
                                Additional loosely structured information to
                                associate with the earning
                              format: json
                          required:
                            - workplace
                          type: object
                      reimbursements:
                        type: array
                        items:
                          properties:
                            amount:
                              type: string
                              description: >-
                                Amount of reimbursement<br><br>Must be greater
                                than 0
                            description:
                              type: string
                              description: >-
                                Description for the reimbursement that will show
                                up on the paystub
                            code:
                              type: string
                              description: >-
                                Unique code to identify the reimbursement that
                                will be used to aggregate reimbursements on the
                                paystub. Recommended to always be included to
                                have explicit groupings on the paystub.
                            metadata:
                              type: string
                              description: >-
                                Additional loosely structured information to
                                associate with the reimbursement
                              format: json
                          required:
                            - amount
                          type: object
                      benefit_overrides:
                        type: array
                        description: >-
                          The set of benefit override objects associated with
                          this payroll item.
                        items:
                          properties:
                            benefit:
                              type: string
                              description: >-
                                ID of the employee benefit that is being
                                overridden for the payroll item
                            employee_contribution_amount:
                              type: string
                              description: >-
                                Updated employee contribution amount to use for
                                this payroll only
                            company_contribution_amount:
                              type: string
                              description: >-
                                Updated company contribution amount to use for
                                this payroll only
                          required:
                            - benefit
                          type: object
                      post_tax_deduction_overrides:
                        type: array
                        description: >-
                          The set of post-tax deduction override objects
                          associated with this payroll item.
                        items:
                          properties:
                            post_tax_deduction:
                              type: string
                              description: >-
                                ID of the miscellaneous post-tax deduction that
                                is being overridden for the payroll item. Child
                                support post-tax deductions cannot be overriden
                            amount:
                              type: string
                              description: >-
                                Updated deduction amount to use for this payroll
                                only
                          required:
                            - post_tax_deduction
                            - amount
                          type: object
                      pto_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining PTO hour balance, for display
                          on the paystub
                        format: float
                      sick_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining sick hour balance, for
                          display on the paystub
                        format: float
                      state_covid_sick_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining sick hour balance from state
                          COVID relief bills, for display on the paystub
                        format: float
                      supplemental_tax_calc_method:
                        type: string
                        description: >-
                          Controls the method used by Check to calculate tax on
                          supplemental earnings. May be flat or aggregate
                      paper_check_number:
                        type: string
                        description: >-
                          For accounting. The check number associated with any
                          printed checks. Can be updated even after the
                          associated payroll has been approved. See [Get a paper
                          check](ref:get-a-paper-check) for more details.
                      metadata:
                        type: string
                        description: >-
                          Additional loosely structured information to associate
                          with the payroll item.
                        format: json
                    required:
                      - employee
                    type: object
                contractor_payments:
                  type: array
                  description: >-
                    The set of [contractor
                    payments](ref:the-contractor-payment-object) associated with
                    the payroll.
                  items:
                    properties:
                      contractor:
                        type: string
                        description: The id of the contractor being paid
                      payment_method:
                        type: string
                        description: >-
                          The way the contractor will be paid, either
                          “direct_deposit” or "manual"
                        default: '"direct_deposit"'
                      amount:
                        type: string
                        description: The amount the contractor should be paid
                        default: '"0.00"'
                      reimbursement_amount:
                        type: string
                        description: The amount to reimburse the contractor
                        default: '"0.00"'
                      paper_check_number:
                        type: string
                        description: >-
                          For accounting. The check number associated with any
                          printed checks. Can be updated even after the
                          associated payroll has been approved. See Get a paper
                          check for more details.
                      workplace:
                        type: string
                        description: The Workplace ID associated with this payment.
                    required:
                      - contractor
                    type: object
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the payroll. Values must be string.
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
    delete:
      summary: Delete a payroll
      description: Deletes a payroll.
      operationId: delete-a-payroll
      parameters:
        - name: payroll
          in: path
          schema:
            type: string
          required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value: ''
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /payrolls:
    post:
      summary: Create a payroll
      description: Creates a payroll.
      operationId: create-payroll
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - company
                - period_start
                - period_end
                - payday
              properties:
                company:
                  type: string
                  description: ID of the company to run payroll for.
                period_start:
                  type: string
                  description: The start of the date range that the payroll covers.
                  format: date
                period_end:
                  type: string
                  description: The end of the date range that the payroll covers.
                  format: date
                payday:
                  type: string
                  description: The date on which employees will be paid for the payroll.
                  format: date
                processing_period:
                  type: string
                  description: >-
                    The processing period of the payroll. <br><br>One of
                    `four_day`, `two_day`, or `one_day`.<br><br>The processing
                    period determines the approval deadline of the payroll. For
                    a payroll with a Friday payday, `four_day` will mean the
                    approval deadline is on Monday, whereas `two_day` will mean
                    the approval deadline is on Wednesday, and `one_day` will
                    mean the approval deadline is on Thursday.<br><br>The
                    possible values for this field are constrained by the
                    processing periods the company is approved
                    for.<br><br>Default: `processing_period` of the company
                type:
                  type: string
                  description: >-
                    Indicates whether the payroll is a regular,
                    [off-cycle](doc:off-cycle-payroll), or amendment
                    payroll.<br><br>One of `regular`,`off_cycle`, or
                    `amendment`.<br><br>Default: `regular`
                pay_frequency:
                  type: string
                  description: >-
                    Frequency by which [employees](ref:the-employee-object) get
                    paid.<br><br>One of `weekly`, `biweekly`, `semimonthly`,
                    `monthly`, `quarterly`, or `annually`.<br><br>Default:
                    `biweekly`
                funding_payment_method:
                  type: string
                  description: >-
                    Payment method for funding the payroll. <br><br>One of `ach`
                    or `wire`. <br><br>Default: `ach`
                pay_schedule:
                  type: string
                  description: >-
                    ID of the [pay schedule](ref:the-pay-schedule-object) that
                    the payroll relates to.
                off_cycle_options:
                  type: object
                  description: >-
                    Additional configuration options controlling `off_cycle`
                    payroll behavior.
                  properties:
                    force_supplemental_withholding:
                      type: boolean
                      description: >-
                        Whether to tax all earnings as supplemental
                        earnings.<br><br>Default: `false`
                    apply_benefits:
                      type: boolean
                      description: >-
                        Whether to apply [benefit deductions and
                        contributions](ref:the-employee-benefit-object)  to the
                        payroll.<br><br>Default: `false`
                    apply_post_tax_deductions:
                      type: boolean
                      description: >-
                        Whether to apply [post-tax
                        deductions](ref:the-post-tax-deduction-object) to the
                        payroll.<br><br>Default: `false`
                items:
                  type: array
                  description: >-
                    The set of [payroll items](ref:the-payroll-item-object)
                    associated with the payroll.
                  items:
                    properties:
                      employee:
                        type: string
                      payment_method:
                        type: string
                      earnings:
                        type: array
                        items:
                          properties:
                            type:
                              type: string
                              description: >-
                                Type of earning. Can be one of the following
                                earning types in <a
                                href="https://docs.checkhq.com/reference/types-of-earnings">Types
                                of earnings</a>
                            workplace:
                              type: string
                              description: >-
                                ID of the workplace where work for this earning
                                was performed
                            earning_code:
                              type: string
                              description: >-
                                The earning code id which will be used to
                                aggregate earnings on the paystub
                            description:
                              type: string
                              description: >-
                                Readable description of the earning code that
                                will show up on the paystub
                            earning_rate:
                              type: string
                              description: >-
                                The earning rate id which will be used to
                                calculate the gross wage. Required if type is
                                “piece”
                            amount:
                              type: string
                              description: >-
                                Amount earned for this earning<br><br>Must be
                                greater than 0
                            hours:
                              type: number
                              description: Number of hours worked for this earning
                              format: float
                            piece_units:
                              type: number
                              description: >-
                                Number of units of work produced. Required if
                                type is “piece”
                              format: float
                            metadata:
                              type: string
                              description: >-
                                Additional loosely structured information to
                                associate with the earning
                              format: json
                          required:
                            - workplace
                          type: object
                      reimbursements:
                        type: array
                        items:
                          properties:
                            amount:
                              type: string
                              description: >-
                                Amount of reimbursement<br><br>Must be greater
                                than 0
                            description:
                              type: string
                              description: >-
                                Description for the reimbursement that will show
                                up on the paystub
                            code:
                              type: string
                              description: >-
                                Unique code to identify the reimbursement that
                                will be used to aggregate reimbursements on the
                                paystub. Recommended to always be included to
                                have explicit groupings on the paystub.
                            metadata:
                              type: string
                              description: >-
                                Additional loosely structured information to
                                associate with the reimbursement
                              format: json
                          required:
                            - amount
                          type: object
                      benefit_overrides:
                        type: array
                        description: >-
                          The set of benefit override objects associated with
                          this payroll item.
                        items:
                          properties:
                            benefit:
                              type: string
                              description: >-
                                ID of the employee benefit that is being
                                overridden for the payroll item
                            employee_contribution_amount:
                              type: string
                              description: >-
                                Updated employee contribution amount to use for
                                this payroll only
                            company_contribution_amount:
                              type: string
                              description: >-
                                Updated company contribution amount to use for
                                this payroll only
                          required:
                            - benefit
                          type: object
                      post_tax_deduction_overrides:
                        type: array
                        description: >-
                          The set of post-tax deduction override objects
                          associated with this payroll item.
                        items:
                          properties:
                            post_tax_deduction:
                              type: string
                              description: >-
                                ID of the miscellaneous post-tax deduction that
                                is being overridden for the payroll item. Child
                                support post-tax deductions cannot be overriden
                            amount:
                              type: string
                              description: >-
                                Updated deduction amount to use for this payroll
                                only
                          required:
                            - post_tax_deduction
                            - amount
                          type: object
                      pto_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining PTO hour balance, for display
                          on the paystub
                        format: float
                      sick_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining sick hour balance, for
                          display on the paystub
                        format: float
                      state_covid_sick_balance_hours:
                        type: number
                        description: >-
                          The employee's remaining sick hour balance from state
                          COVID relief bills, for display on the paystub
                        format: float
                      supplemental_tax_calc_method:
                        type: string
                        description: >-
                          Controls the method used by Check to calculate tax on
                          supplemental earnings. May be flat or aggregate
                      paper_check_number:
                        type: string
                        description: >-
                          For accounting. The check number associated with any
                          printed checks. Can be updated even after the
                          associated payroll has been approved. See [Get a paper
                          check](ref:get-a-paper-check) for more details.
                      metadata:
                        type: string
                        description: >-
                          Additional loosely structured information to associate
                          with the payroll item.
                        format: json
                    required:
                      - employee
                    type: object
                contractor_payments:
                  type: array
                  description: >-
                    The set of [contractor
                    payments](ref:the-contractor-payment-object) associated with
                    the payroll.
                  items:
                    properties:
                      contractor:
                        type: string
                        description: The id of the contractor being paid
                      payment_method:
                        type: string
                        description: >-
                          The way the contractor will be paid, either
                          “direct_deposit” or "manual"
                        default: '"direct_deposit"'
                      amount:
                        type: string
                        description: The amount the contractor should be paid
                        default: '"0.00"'
                      reimbursement_amount:
                        type: string
                        description: The amount to reimburse the contractor
                        default: '"0.00"'
                      paper_check_number:
                        type: string
                        description: >-
                          For accounting. The check number associated with any
                          printed checks. Can be updated even after the
                          associated payroll has been approved. See Get a paper
                          check for more details.
                      workplace:
                        type: string
                        description: The Workplace ID associated with this payment.
                    required:
                      - contractor
                    type: object
                metadata:
                  type: string
                  description: >-
                    Additional loosely structured information to associate with
                    the payroll. Values must be string.
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": "pay_Z26PNMC7Ky1wfFQzVqfF",
                      "company": "com_sx3svU6K8c5ZkSFlOh5p",
                      "period_start": "2019-06-16",
                      "period_end": "2019-06-29",
                      "approval_deadline": "2019-07-02T00:00:00.000000Z",
                      "approved_at": "2019-06-29T18:26:56.848920Z",
                      "payday": "2019-07-05",
                      "status": "paid",
                      "type": "regular",
                      "pay_frequency": "biweekly",
                      "funding_payment_method": "ach",
                      "processing_period": "four_day",  
                      "off_cycle_options": null,
                      "managed": true,
                      "totals": {
                        "employee_gross": "961.54",
                        "employee_reimbursements": "0.00",
                        "employee_taxes": "249.23",
                        "employee_benefits": "0.00",
                        "post_tax_deductions": "0.00",
                        "employee_net": "712.31",
                        "contractor_gross": "100.00",
                        "contractor_reimbursements": "15.00",
                        "contractor_net": "115.00",
                        "company_taxes": "73.56",
                        "company_benefits": "0.00",
                        "liability": "1150.10",
                        "cash_requirement": "1150.10"
                      },
                      "items": [
                        {
                          "id": "itm_yvmmsVGFxLoBaMIkqzea",
                          "payroll": "pay_Z26PNMC7Ky1wfFQzVqfF",
                          "employee": "emp_zGGp6wYcxAeu1Ng8IA7v",
                          "payment_method": "direct_deposit",
                          "net_pay": "712.31",
                          "earnings": [
                            {
                              "amount": "961.54",
                              "hours": 40.0,
                              "type": "regular",
                              "workplace": "wrk_cxcG4vjGKcSXZk1fgKai",
                              "code": null,
                              "description": null
                            }
                          ],
                          "reimbursements": [],
                          "taxes": [
                            {
                              "tax": "tax_I1Z9zqbBGWIbvlZpN2Vq",
                              "description": "New York SDI",
                              "amount": "0.60",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_ImvSF9CTuMdokf0uwx5x",
                              "description": "Employer FICA Tax",
                              "amount": "59.62",
                              "payer": "company"
                            },
                            {
                              "tax": "tax_yjNkKk061BTipYv7G4Ti",
                              "description": "New York City Tax",
                              "amount": "31.04",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_S1krAkh75RzdWu5J53HA",
                              "description": "New York State Tax",
                              "amount": "44.20",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_UJrIQbtVErbdez0bYTVN",
                              "description": "New York Family Leave Benefits",
                              "amount": "1.47",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_1XHqR9Qf5t18SD2sfYEe",
                              "description": "Medicare",
                              "amount": "13.94",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_8L3JLfsH4X6dp0maBWfW",
                              "description": "Federal Income Tax",
                              "amount": "98.36",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_ibU8cGhC5OlpOjoQFIXV",
                              "description": "FICA",
                              "amount": "59.62",
                              "payer": "employee"
                            },
                            {
                              "tax": "tax_O3f21hkS1cvHBZTa61BO",
                              "description": "Employer Medicare Tax",
                              "amount": "13.94",
                              "payer": "company"
                            }
                          ],
                          "benefits": [],
                          "benefit_overrides": [],
                          "post_tax_deductions": [],
                          "post_tax_deduction_overrides": [],
                          "warnings": []
                        }
                      ],
                      "contractor_payments": [
                        {
                          "contractor": "ctr_90QzaH9xPRI7JRLXnRoU",
                          "payment_method": "manual",
                          "amount": "100.00",
                          "reimbursement_amount": "15.00"
                        }
                      ],
                      "is_void": false,
                      "metadata": {}
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: pay_Z26PNMC7Ky1wfFQzVqfF
                  company:
                    type: string
                    example: com_sx3svU6K8c5ZkSFlOh5p
                  period_start:
                    type: string
                    example: '2019-06-16'
                  period_end:
                    type: string
                    example: '2019-06-29'
                  approval_deadline:
                    type: string
                    example: '2019-07-02T00:00:00.000000Z'
                  approved_at:
                    type: string
                    example: '2019-06-29T18:26:56.848920Z'
                  payday:
                    type: string
                    example: '2019-07-05'
                  status:
                    type: string
                    example: paid
                  type:
                    type: string
                    example: regular
                  pay_frequency:
                    type: string
                    example: biweekly
                  funding_payment_method:
                    type: string
                    example: ach
                  processing_period:
                    type: string
                    example: four_day
                  off_cycle_options: {}
                  managed:
                    type: boolean
                    example: true
                    default: true
                  totals:
                    type: object
                    properties:
                      employee_gross:
                        type: string
                        example: '961.54'
                      employee_reimbursements:
                        type: string
                        example: '0.00'
                      employee_taxes:
                        type: string
                        example: '249.23'
                      employee_benefits:
                        type: string
                        example: '0.00'
                      post_tax_deductions:
                        type: string
                        example: '0.00'
                      employee_net:
                        type: string
                        example: '712.31'
                      contractor_gross:
                        type: string
                        example: '100.00'
                      contractor_reimbursements:
                        type: string
                        example: '15.00'
                      contractor_net:
                        type: string
                        example: '115.00'
                      company_taxes:
                        type: string
                        example: '73.56'
                      company_benefits:
                        type: string
                        example: '0.00'
                      liability:
                        type: string
                        example: '1150.10'
                      cash_requirement:
                        type: string
                        example: '1150.10'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: itm_yvmmsVGFxLoBaMIkqzea
                        payroll:
                          type: string
                          example: pay_Z26PNMC7Ky1wfFQzVqfF
                        employee:
                          type: string
                          example: emp_zGGp6wYcxAeu1Ng8IA7v
                        payment_method:
                          type: string
                          example: direct_deposit
                        net_pay:
                          type: string
                          example: '712.31'
                        earnings:
                          type: array
                          items:
                            type: object
[...]
